



<html>
<body>
    <br />
    <img src="http://puu.sh/vbdMV/11de5bb00c.jpg" alt="puu.sh" style="width:158px;height:216px;">
    
    <h3>Hi, my name is Conor!</h3>

    <p>
        Welcome to my slice of the internet.
        I am an aspiring developer and I love video games.<br />
        I have acquired a B.S honours degree in Computer Games Development from Institute of Technology Carlow.
    </p>
    <p>
        Check out my projects page to see how I made this website.
    </p>
   
</body>
</html>