

<h2>Hi, my name is Conor!</h2>

<html>
<body>
    <img src="http://puu.sh/vbdMV/11de5bb00c.jpg" alt="puu.sh" style="width:158px;height:216px;">
    
    <p>
        <h4>I am an aspiring developer and I love video games.</h4><br />
        I have acquired a B.S degree in Computer Games Development from the Institute of Technology Carlow.
    </p>
    <p>
        Check out my projects page to see how I made this website.
    </p>
   
</body>
</html>