

<h2>Hi, my name is Conor!</h2>

<html>
<body>
    <p>
        I am an aspiring developer and I love video games.<br />Check out my projects page to see how I made this website.
    </p>
    <p>Find me on LinkedIn here</p>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/halpinconor" data-format="inline" data-related="false">
    </script>
   
</body>
</html>