@model IEnumerable<MvcWebsite.Models.CommentModel>

<style type="text/css">
    .left {
        float: left;
        width: 15%;
        text-align: center;
    }

    .right {
        float: right;
        width: 85%;
    }
</style>

@foreach (var item in Model)
{
    <fieldset>
    <div class="container">
        <div class="left"><fieldset><b>@item.UserName</b></fieldset></div>
        <div class="right"><fieldset>@item.Comment</fieldset></div>
    </div>
    </fieldset>
}
