@model MvcWebsite.Models.CommentModel

@using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post))
{
        @Html.HiddenFor(c => c.Id)
        @Html.HiddenFor(c => c.Webpage)

        <p>Username</p>
        <p>@Html.TextBoxFor(c => c.UserName)</p>
        <p>Comment</p>
        <p>@Html.TextBoxFor(c => c.Comment)</p>

        <p><input type="submit" value="Submit" class="btn btn-default" /></p>
}