@model MvcWebsite.Models.CommentModel

@using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post, new { id = "commentForm" }))
{
    <fieldset>
        @Html.HiddenFor(newComment => newComment.Id)
        @Html.HiddenFor(newComment => newComment.Webpage)

        <p>Username</p>
        <p>@Html.TextBoxFor(newComment => newComment.UserName, new { style = "width:100%", @maxlength = "14" })</p>
        <p>Comment</p>
        <p>@Html.TextBoxFor(newComment => newComment.Comment, new { style = "width:100%", @maxlength = "500" })</p>

        <p><input type="submit" value="Submit" class="btn btn-default" /></p>
    </fieldset>
}
