@model IEnumerable<MvcWebsite.Models.CommentModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div>
        <h3>Contact Me</h3>
        <p>Find me on LinkedIn here</p>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/halpinconor" data-format="inline" data-related="false">
        </script>
        <p>Email: conorhalpin@outlook.com</p>
        <p>Phone: 085 000 0000</p>
    </div>

    <fieldset>
        <legend>Comments</legend>
        <fieldset>
            <p>
                Please enter a username and comment (Not yet implemented)
            </p>
            <input type="text" placeholder="Username..." />
            <input type="text" placeholder="Comment..." />
        </fieldset>
        @foreach (var item in Model)
        {
            if (item.Webpage == "ContactMe")
            {
                <fieldset>
                    <b>@item.UserName:</b>
                    @item.Comment
                </fieldset>
            }
        }
    </fieldset>

</body>
</html>
