@model IEnumerable<MvcWebsite.Models.CommentModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div>
        <h3>Contact Me</h3>
        <p>Find me on LinkedIn here</p>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/halpinconor" data-format="inline" data-related="false">
        </script>
        <p>Email: conorhalpin@outlook.com</p>
        <p>Phone: 085 819 0879</p>
    </div>

    <h4>Comments</h4>

    @foreach (var item in Model)
    {
        <pre>
            @item.UserName:
            @item.Comment
        </pre>
    }

</body>
</html>
