
@model IEnumerable<MvcWebsite.Models.CommentModel>
   
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>@ViewBag.Title Conor Halpin</title>
    </head>
    <body>
        <br />
        <div align="center">
            <img src="~/Content/Grad.png" style="width:178px;height:217px;">

            <h3>Hi, my name is Conor!</h3>

            <p>
                Welcome to my slice of the internet.
                I am an aspiring developer and I love video games.<br />
                I have acquired a B.S honours degree in Computer Games Development from Institute of Technology Carlow.<br />
                My strongest languages are C++ and C#<br />

            </p>
            <p>
                Check out my projects page to see how I made this website.
            </p>
        </div>

        <fieldset>
            <legend>Comments</legend>
            <fieldset>
                    @{Html.RenderPartial("~/Views/Comment/CreateComment.cshtml", new MvcWebsite.Models.CommentModel("Index"));}
            </fieldset>
            @{Html.RenderPartial("~/Views/Comment/CommentList.cshtml");}
        </fieldset>
    </body>
</html>


