@model IEnumerable<MvcWebsite.Models.CommentModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div>
        <h3>Contact Me</h3>
        <p>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/halpinconor" data-format="click" data-related="false" data-text="Conor Halpin"></script>
        </p>
        <p>Email: conorhalpin@outlook.com</p>
    </div>

    <fieldset>
        <legend>Comments</legend>
        <fieldset>
                @{Html.RenderPartial("~/Views/Comment/CreateComment.cshtml", new MvcWebsite.Models.CommentModel("ContactMe"));}
        </fieldset>
        @{Html.RenderPartial("~/Views/Comment/CommentList.cshtml");}
    </fieldset>

</body>
</html>
