@model IEnumerable<MvcWebsite.Models.CommentModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div align ="center">
        <fieldset>
            <h3>Contact Me</h3>
        </fieldset>
        <p>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/halpinconor" data-format="inline" data-related="false" data-width="100%">
            </script>
        </p>
        <p>Email: conorhalpin@outlook.com</p>
    </div>

    <fieldset>
        <legend>Comments</legend>
        @{Html.RenderPartial("~/Views/Comment/CreateComment.cshtml", new MvcWebsite.Models.CommentModel("ContactMe"));}
        @{Html.RenderPartial("~/Views/Comment/CommentList.cshtml");}
    </fieldset>

</body>
</html>
